.mainDiv {
min-width: 100vw;
  height: 80px;
  background-color: #3657cd;
  color: white !important;
  font-weight: bolder;
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
  transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
}
.icon {
    color: var(--secondColor);
}