.mainDiv {
  background-image: url('https://img.freepik.com/free-vector/business-leader-standing-arrow-holding-flag-flat-vector-illustration-cartoon-people-training-doing-business-plan-leadership-victory-challenge-concept_74855-9812.jpg?w=740&t=st=1684305222~exp=1684305822~hmac=d4a44a33391c99393b23d2e34f31cf18218f42f8c6f9aaa6362f958ae6746965');
  background-size: cover;
  width: 100vw;
  min-height: 100vh !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainDiv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.content {
  z-index: 8;
}
.btn {
  border: none;
  background-color: var(--secondColor);
  padding: 7px 15px;
  color: var(--mainColor) !important;
  height: 50px;
  z-index: 3;
  position: relative;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  
  background-color: var(--mainColor);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  background-color: var(--secondColor);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.btn:hover::before {
  width: 100%;
}

.icon,
.btnText {
  color: var(--mainColor) !important;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.btn:hover .icon,
.btn:hover .btnText {
  color: white !important;
}

.btn:focus-within::after {
  width: 100%;
}

.btn:focus-within .icon,
.btn:focus-within .btnText {
  color: var(--mainColor) !important;
}

.btn:hover .icon {
  transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -o-transform: translateX(-10px);
}